@page "/event-detail/{id}"
@inject NavigationManager NavigationManager
@inject HttpClient httpClient

<div class="event-detail-box">
    <div class="ticket-box">
        @if (musicEvent != null)
        {
            string eventName = musicEvent.Name;
            string eventDate = musicEvent.Date.ToString("dd/MM/yyyy");
            string eventLocation = musicEvent.Location;
            string formattedPrice = $"{musicEvent.Price:0,0}đ";
            string ImageUrl = musicEvent.ImageUrl;

            <div class="ticket">
                <div class="left-ticket">
                    <div class="top-span">
                        <span class="title">@eventName</span>
                        <span class="datetime-box">
                            <i class="ti-calendar"></i>
                            <span class="datetime-text">@eventDate</span>
                        </span>
                        <span class="location-box">
                            <i class="ti-location-pin"></i>
                            <span class="location-text">@eventLocation</span>
                        </span>
                    </div>
                    <div class="bottom-span">
                        <span class="price">@formattedPrice</span>
                        <a class="btn-book" @onclick="BookTicket">Book now</a>
                    </div>
                </div>
                <div class="right-ticket">
                    <img class="ticket-image" src="@ImageUrl" alt="Ticket image" />
                </div>
            </div>
        }
    </div>
    <div class="about-box">
        <div class="about">
            <div class="title">
                <span class="title-text>">About</span>
            </div>
            <div class="content">
                @if (musicEvent != null)
                {
                    <span class="content-text">
                        @musicEvent.Description
                    </span>
                }
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string Id { get; set; }

    private MusicEvent.Models.MusicEvent musicEvent;

    protected override async Task OnInitializedAsync()
    {
        string requestUri = $"https://localhost:7109/api/MusicEvent/{Id}";
        musicEvent = await httpClient.GetFromJsonAsync<MusicEvent.Models.MusicEvent>(requestUri);
    }

    private void BookTicket()
    {
        // Implement booking ticket here

    }
}
